@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-dark-text: 229deg 25% 31%;
    --color-score-text: 229deg 64% 46%;
    --color-header-outline: 217deg 16% 45%;
  }
}

#app {
  background: radial-gradient(hsl(214 47% 23%), hsl(237 49% 15%));
}
