@import '../../../assets/scss/variables';

.btn {
  cursor: pointer;
  background-color: $orange-1;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-family: "Montserrat", "sans-serif";
  font-weight: $bold;
  color: $white;

  &.icon {
    background-color: transparent;
  }
}