@import './_variables.scss';

.spacer-wrapper {
  margin: 0px auto;
  max-width: 1366px;
  width: calc(100% - 3rem);
}

@media screen and (min-width: $md) {
  .spacer-wrapper {
    width: calc(100% - 4.5rem);
  }
}

@media screen and (min-width: $lg) {
  .spacer-wrapper {
    width: calc(100% - 6rem);
  }
}