// COLORS
$orange-1: hsl(26, 100%, 55%);
$pale-orange-1: hsl(25, 100%, 94%);


$dark-blue-1: hsl(220, 13%, 13%);
$dark-blue-2: hsl(219, 9%, 45%);
$gray-blue-1: hsl(220, 14%, 75%);
$gray-blue-2: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black-1: hsl(0, 0%, 0%);

// BREAKPOINTS

$md: 1280px;
$lg: 1440px;